
<navbar class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">Course App</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link">Kurslar{% block kurslarIkon %}{% endblock  %}</a>
            </li>
           
            <li class="nav-item">
                <a href="{% url 'create_course' %}" class="nav-link"> Admin Kurs ekle</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'course_list' %}" class="nav-link"> Admin Kurslar</a>
            </li>

        </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">İletişim{% block contactIkon %}{% endblock %}</a>
                
            </li>
            <li class="nav-item">
            
            <a href="/about" class="nav-link">Hakkımızda{% block hakkimizdaIkon %}{% endblock  %}</a>

            </li>

        </ul>

       

        <form action="{% url "search" %}" class="d-flex">

            <input class="form-control me-1"  type="text" name="q"  placeholder="Anahtar Kelime">

            <button type="submit" class="btn btn-secondary" >Arama</button>

        </form>

    </div>
</navbar>