{% extends "layout.html" %}

{% load static %}


{% block page_title %}
    {{course.title}}
{% endblock page_title %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}
   


{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                <p>
                    <strong>{{course.title}}</strong> isimli kursu silmek istiyor musun ?

                    <form action=" {% url "course_delete" course.id %}" method="POST"> <!--evete basıldıgında course delete viewına post ıstegi atar-->
                        {% csrf_token %}
                        <button type="submit" class = "btn btn-danger"> Evet </button>
                        <a href="{% url "course_list" %}" class="btn btn-primary">Hayır</a> <!--hayır derse kurs listesine geri doner-->
                        
                    </form>
                </p>
                    
             </div>
        </div>
        
    </div>

{% endblock content %}



