{% extends "layout.html" %}

{% load static %}


{% block page_title %}
    Kurs Oluştur
{% endblock page_title %}



{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}
   


{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                {% if error %}
                    <div class="alert alert-danger">
                        {{msg}}
                    </div>
                {% endif %}

               <form action="{% url 'create_course' %}" method="POST" > <!--kaydetttiklerimi yine ayni methota geri dondurucem-->

                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3 {% if field.errors %} invalid {% endif %}" >
                            {% if field.errors %}
                            <div class="alert alert-danger">{{field.errors}}</div>
                            {% endif %}
                            <label class="form-label"  for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %}

                    <!--Yukaridakinin uzun hali yani-->
                    <!--
                    <div class="mb-3" {% if form.title.errors %} invalid {% endif %}>
                        {{form.title.errors}}
                        <label for="{{form.title.id_for_label}}" class="form-label">title</label>
                        {{form.title}}
                    </div>
                    <div class="mb-3">
                        <label for="{{form.description.id_for_label}}" class="form-label">description</label>
                        {{form.description}}
                    </div>
                    <div class="mb-3">
                        <label for="{{form.imageUrl.id_for_label}}" class="form-label">imageUrl</label>
                        {{form.imageUrl}}
                    </div>
                    <div class="mb-3">
                        <label for="{{form.slug.id_for_label}}" class="form-label">slug</label>
                        {{form.slug}}
                    </div>
               -->
                    <!--
                    {{form.as_p}}
               -->
                    <!--

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">ImageUrl</label>
                        <input type="text" name="imageUrl" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="slug" class="form-label">Slug</label>
                        <input type="text" name="slug" class="form-control">
                    </div>
                    <div class=" form-check mb-3">
                        <input type="checkbox" name="isActive" class="form-check-input">
                        <label for="isActive" class="form-check-label">isActive</label>
                        
                    </div>
                    <div class=" form-check mb-3">
                        <input type="checkbox" name="isHome" class="form-check-input">
                        <label for="isHome" class="form-check-label">isHome</label>
                        
                    </div> -->

                    <button class="btn btn-primary" type="submit">Kaydet</button>
               </form>
            </div>
        </div>
       
    </div>

{% endblock content %}



