{% extends "layout.html" %}

{% load static %}

<!--
extends: Şablon mirası için kullanılır, ana şablondan (layout.html) yapıyı miras alır.
load static: Statik dosyaları (CSS, JS, resimler) kullanmak için gereken etikettir.
-->


{% block page_title %}
    Kurslar
{% endblock page_title %}

<!--
 şablon mirası (template inheritance)

 block etiketi, şablon mirası için bir alan tanımlar.
Bu blok, alt şablonlar (child templates) tarafından doldurulabilir veya üzerine yazılabilir.
static etiketi, projedeki statik dosyalara referans oluşturur.
-->

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}
   


{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
            <!--menu-->
                {% include "courses/partials/_categories.html" %}
            </div>
        </div>
        <div class="col-9">

            {% if page_obj.object_list|length == 0 %}
                <div class="alert alert-warning">Kurs Bulunamadı.</div>
            {% endif %}

            {% for course in page_obj.object_list  %}

            {% if course.isActive %}
                 {% include "courses/partials/_course.html" %}
            
            {% endif %}
            {% endfor %}

            {% include "courses/partials/_paging.html" %}
        </div>
    </div>

{% endblock content %}



