{% extends "layout.html" %}

{% load static %}


{% block page_title %}
    {{course.title}}
{% endblock page_title %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}
   


{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
               
                <form action="{% url "upload_image" %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <div class="input-group">
                        <input type="file" class="form-control" id="uploadImage" name = "images" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple = "true"> <!--multiple ile dosyalari sec oldu-->
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Yükle</button>
                      </div>

                </form>
                
            </div>
        </div>
        
    </div>

{% endblock content %}



