{% load static %}

<div class="card mb-3">
    <div class="row">
        <div class="col-2">
            <img class="img-fluid rounded-start" src="{% static 'courses/img/'|add:course.imageUrl %}" alt="{{course.title}}" srcset="">
        </div>
        <div class="col-4">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url "course_details" course.slug %}">
                    {{course.title|upper}}
                </a>
                </h5>
                <p class="card-text">{{course.description}}</p>

                {% if course.isActive %}
                    <span class="badge bg-success" >Güncellendi</span>
                {% else %}
                    <span class="badge bg-warning">Güncelleme Bekliyor..</span>
                {% endif %}
                <p>{{course.date|date:"D d M Y"}}</p>

            </div>
        </div>
    </div>
</div>