{% extends "layout.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
       
        <div class="col-12">
        <!--content-->
        <h1>İletişim</h1>

        </div>
    </div>
</div>

{% endblock content %}

{% block title %}
    Contact
{% endblock title %}

{% block fontawesome %}  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock fontawesome %}

{% block contactIkon %}<i class="fa-regular fa-address-book" style="margin-left: 8px;"></i>{% endblock contactIkon %}
