{% extends "layout.html" %}

{% load static %}


{% block page_title %}
    {{course.title}}
{% endblock page_title %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}
   


{% block content %}
    
    
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Parola Değiştirme</h1>
                <hr>

                <form method="post">
                    {% csrf_token %}
                    {% include "partials/_form.html" %}
                   
                    <button type="submit" value="Login" class="btn btn-primary">Değiştir</button>
                </form>
                
            </div>
        </div>
        
    </div>

{% endblock content %}



